
@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Content/FormLogin/style/style.css" />
    <!-- font roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet" />
</head>
<body>
    <!-- from login -->
    <div class="login">
        <div class="login__container">
            <h1>Chào Mừng Admin </h1>
            <form>
                <h5>Đăng Nhập</h5>
                <input type="text" class="input-login-username" placeholder="User" name="user" />
                <h5>Password</h5>   
                <input type="password" class="input-login-password" placeholder="Password" name="password" />
                <button type="submit" class="login__signInButton">Đăng Nhập</button>
            </form>
        
        </div>
    </div>
</body>
<script src="~/Content/Css/Fromlogin/js/main.js"></script>
</html>