@model IEnumerable<BookLibrary.Models.Category>

<div class="mega-menu">
    <ul class="tg-themetabnav" role="tablist">
        @{
            foreach (var listBook in Model)
            {
                <li role="presentation">
                    <a href="" aria-controls="#" role="tab" data-toggle="tab">@listBook.Name</a>
                </li>
            }
        }
    </ul>
    <div class="tab-content tg-themetabcontent">
        <div role="tabpanel" class="tab-pane active" id="artandphotography">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="biography">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="childrensbook">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="craftandhobbies">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="crimethriller">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="fantasyhorror">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="fiction">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="fooddrink">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="graphicanimemanga">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="sciencefiction">
            <ul>
                <li>
                    <div class="tg-linkstitle">
                        <h2>History</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Veniam quis nostrud</a></li>
                        <li><a href="products.html">Exercitation</a></li>
                        <li><a href="products.html">Laboris nisi ut aliuip</a></li>
                        <li><a href="products.html">Commodo conseat</a></li>
                        <li><a href="products.html">Duis aute irure</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Architecture</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Tough As Nails</a></li>
                        <li><a href="products.html">Pro Grease Monkey</a></li>
                        <li><a href="products.html">Building Memories</a></li>
                        <li><a href="products.html">Bulldozer Boyz</a></li>
                        <li><a href="products.html">Build Or Leave On Us</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
                <li>
                    <div class="tg-linkstitle">
                        <h2>Art Forms</h2>
                    </div>
                    <ul>
                        <li><a href="products.html">Consectetur adipisicing</a></li>
                        <li><a href="products.html">Aelit sed do eiusmod</a></li>
                        <li><a href="products.html">Tempor incididunt labore</a></li>
                        <li><a href="products.html">Dolore magna aliqua</a></li>
                        <li><a href="products.html">Ut enim ad minim</a></li>
                    </ul>
                    <a class="tg-btnviewall" href="products.html">View All</a>
                </li>
            </ul>
            <ul>
                <li>
                    <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                    <div class="tg-textbox">
                        <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                        <div class="tg-description">
                            <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                        </div>
                        <a class="tg-btn" href="products.html">view all</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    

</div>