@using BookLibrary.Models
@{ 
	Product Featured = ProductsModel.GetFeatured();
}

<!--************************************
			Featured Item Start
*************************************-->
<section class="tg-bglight tg-haslayout">
	<div class="container">
		<div class="row">
			<div class="tg-featureditm">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
					<figure>
						<img src="~/Content/Images/img-02.png" alt="image description">
					</figure>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="tg-featureditmcontent">
						<div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
						<div class="tg-booktitle">
							<h3>
								<a href="javascript:void(0);">@Featured.Name</a>
							</h3>
						</div>
						<span class="tg-bookwriter">By: <a href="javascript:void(0);">Farrah Whisenhunt</a></span>
						<span class="tg-stars"><span></span></span>
						<div class="tg-priceandbtn">
							<span class="tg-bookprice">
								<ins>$@Featured.Price</ins>
								@*<del>$30.20</del>*@
							</span>
							<a class="tg-btn tg-btnstyletwo tg-active" href="@Url.Action("AddCart","ShoppingCart", new {@BookID = Featured.ID, @strURL = Request.Url.ToString()})">
								<i class="fa fa-shopping-basket"></i>
								<em>Add To Cart</em>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--************************************
		Featured Item End
*************************************-->
