@model IEnumerable<BookLibrary.Models.Author>
@{
    List<BookLibrary.Models.Author> listauthor = BookLibrary.Models.AuthorModel.TopAuthors(10);
}
@foreach (var ItemAuthor in listauthor)
{
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="tg-author">
            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/@ItemAuthor.Image" alt="image description"></a></figure>
            <div class="tg-authorcontent">
                <h2><a href="javascript:void(0);" >@ItemAuthor.Name</a></h2>
                <span>@ItemAuthor.BooksPublished Published Books</span>
                <ul class="tg-socialicons">
                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

}
