<!--************************************
            Picked By Author Start
    *************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2><span>Some Great Books</span>Picked By Authors</h2>
                    <a class="tg-btn" href="@Url.Action("Index", "Product")">View All</a>
                </div>
            </div>
            <div id="tg-pickedbyauthorslider" class="tg-pickedbyauthor tg-pickedbyauthorslider owl-carousel">
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/img-10.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Seven Minutes In Heaven</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/img-11.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Slow And Steady Wins The Race</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Drusilla Glandon</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/img-12.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">There’s No Time Like The Present</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Patrick Seller</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/img-10.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Seven Minutes In Heaven</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/img-11.jpg" alt="image description"></div>
                            </div>
                            <div class="tg-hovercontent">
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                </div>
                                <strong class="tg-bookpage">Book Pages: 206</strong>
                                <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                <strong class="tg-bookprice">Price: $23.18</strong>
                                <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                            </div>
                        </figure>
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="javascript:void(0);">Slow And Steady Wins The Race</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">Drusilla Glandon</a></span>
                            <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Thêm vào giỏ</em>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Picked By Author End
*************************************-->
