
<div class="tg-searchbox">
	<form class="tg-formtheme tg-formsearch">
		<fieldset>
			<input id="search-bar" type="text" name="search" class="typeahead form-control" placeholder="Tìm kiếm theo tựa sách, tên tác giả, từ khóa,...">
			<div id="result-search-bar" class="tg-minicartbody" style="padding: 0;"></div>
			<button type="submit"><i class="icon-magnifier"></i></button>
		</fieldset>
		<a href="javascript:void(0);">+  Tìm kiếm nâng cao</a>
	</form>
</div>

<script src="~/Scripts/PreSearch.js"></script>