@{ 
    string name = ViewBag.UserName;
}
<div class="tg-userlogin">
    <figure>
        <a href="@Url.Action("Index", "Login")">
            <img src="/Content/Images/users/img-01.jpg" alt="image description">
        </a>
    </figure>
    <span>Hi @name</span>
</div>