<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Library</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script src="~/Scripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--************************************
				Inner Banner Start
		*************************************-->
	<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/Content/images/parallax/bgparallax-07.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="tg-innerbannercontent">
						<h1>404 Error</h1>
						<ol class="tg-breadcrumb">
							<li><a href="javascript:void(0);">home</a></li>
							<li class="tg-active">404 Error</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Inner Banner End
	*************************************-->
	<!--************************************
			Wrapper End
	*************************************-->
	<script src="~/Scripts/vendor/jquery-library.js"></script>
	<script src="~/Scripts/vendor/bootstrap.min.js"></script>
	<script src="~/https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="~/Scripts/owl.carousel.min.js"></script>
	<script src="~/Scripts/jquery.vide.min.js"></script>
	<script src="~/Scripts/countdown.js"></script>
	<script src="~/Scripts/jquery-ui.js"></script>
	<script src="~/Scripts/parallax.js"></script>
	<script src="~/Scripts/countTo.js"></script>
	<script src="~/Scripts/appear.js"></script>
	<script src="~/Scripts/gmap3.js"></script>
	<script src="~/Scripts/main.js"></script>
</body>


</html>