<a href="javascript:void(0);">Home</a>
    <ul class="sub-menu">
        <li>@Html.ActionLink("Home V one", "Index_v1", "Home")</li>
        <li>@Html.ActionLink("Home V two", "Index_v2", "Home")</li>
        <li>@Html.ActionLink("Home V three", "Index_v3", "Home")</li>
    </ul>