
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link href="~/Content/Css/register.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image">
        <form>
            <label>Username:</label><br>
            <input type="text" placeholder="" /><br>
            <label>Email:</label><br>
            <input type="text" placeholder="" /><br>
            <label>Password:</label><br>
            <input type="password" placeholder="" /><br>
            <label>Confirm Password:</label><br>
            <input type="password" placeholder="" /><br>
            <button>Sign Up</button>
        </form>
    </div>
</body>
</html>