@model BookLibrary.Models.Author
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/Images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Authors</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">Authors</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Authors Start
    *************************************-->
    <div class="tg-authorsgrid">
        <div class="container">
            <div class="row">
                <div class="tg-authors">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-sectionhead">
                            <h2><span>Strong Minds Behind Us</span>Most Popular Authors</h2>
                        </div>
                    </div>
                    @Html.Action("get_listAuthors","Author");
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Authors End
    *************************************-->
    <!--************************************
            Testimonials Start
    *************************************-->
    <section class="tg-parallax tg-bgtestimonials tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/Images/parallax/bgparallax-05.jpg">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
                        <div id="tg-testimonialsslider" class="tg-testimonialsslider tg-testimonials owl-carousel">
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Testimonials End
    *************************************-->
    <!--************************************
            Picked By Author Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">f
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2><span>People’s Choice</span>Bestselling</h2>
                        @Html.ActionLink("View All", "Index", "Product", null, new { @class = "tg-btn" })
                    </div>
                </div>
                @Html.Action("get_pickByAuthors", "Home")
            </div>
        </div>
    </section>
    <!--************************************
            Picked By Author End
    *************************************-->
</main>