
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/Images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Authors</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">Authors</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Authors Start
    *************************************-->
    <div class="tg-authorsgrid">
        <div class="container">
            <div class="row">
                <div class="tg-authors">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-sectionhead">
                            <h2><span>Strong Minds Behind Us</span>Most Popular Authors</h2>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-03.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-04.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-05.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-06.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-07.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-08.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-20.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-15.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-14.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-15.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-16.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-17.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-18.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-19.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-20.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-21.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-22.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="tg-author">
                            <figure><a href="javascript:void(0);"><img src="/Content/Images/author/imag-23.jpg" alt="image description"></a></figure>
                            <div class="tg-authorcontent">
                                <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                <span>21,658 Published Books</span>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Authors End
    *************************************-->
    <!--************************************
            Testimonials Start
    *************************************-->
    <section class="tg-parallax tg-bgtestimonials tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/Images/parallax/bgparallax-05.jpg">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
                        <div id="tg-testimonialsslider" class="tg-testimonialsslider tg-testimonials owl-carousel">
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="/Content/Images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Testimonials End
    *************************************-->
    <!--************************************
            Picked By Author Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2><span>Some Great Books</span>Picked By Authors</h2>
                        <a class="tg-btn" href="javascript:void(0);">View All</a>
                    </div>
                </div>
                <div id="tg-pickedbyauthorslider" class="tg-pickedbyauthor tg-pickedbyauthorslider owl-carousel">
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="/Content/Images/books/img-10.jpg" alt="image description"></div>
                                </div>
                                <div class="tg-hovercontent">
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                    </div>
                                    <strong class="tg-bookpage">Book Pages: 206</strong>
                                    <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                    <strong class="tg-bookprice">Price: $23.18</strong>
                                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                                </div>
                            </figure>
                            <div class="tg-postbookcontent">
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Seven Minutes In Heaven</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Add To Basket</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="/Content/Images/books/img-11.jpg" alt="image description"></div>
                                </div>
                                <div class="tg-hovercontent">
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                    </div>
                                    <strong class="tg-bookpage">Book Pages: 206</strong>
                                    <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                    <strong class="tg-bookprice">Price: $23.18</strong>
                                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                                </div>
                            </figure>
                            <div class="tg-postbookcontent">
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Slow And Steady Wins The Race</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Drusilla Glandon</a></span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Add To Basket</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="/Content/Images/books/img-12.jpg" alt="image description"></div>
                                </div>
                                <div class="tg-hovercontent">
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                    </div>
                                    <strong class="tg-bookpage">Book Pages: 206</strong>
                                    <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                    <strong class="tg-bookprice">Price: $23.18</strong>
                                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                                </div>
                            </figure>
                            <div class="tg-postbookcontent">
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">There’s No Time Like The Present</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Patrick Seller</a></span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Add To Basket</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="/Content/Images/books/img-10.jpg" alt="image description"></div>
                                </div>
                                <div class="tg-hovercontent">
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                    </div>
                                    <strong class="tg-bookpage">Book Pages: 206</strong>
                                    <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                    <strong class="tg-bookprice">Price: $23.18</strong>
                                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                                </div>
                            </figure>
                            <div class="tg-postbookcontent">
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Seven Minutes In Heaven</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Add To Basket</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="tg-postbook">
                            <figure class="tg-featureimg">
                                <div class="tg-bookimg">
                                    <div class="tg-frontcover"><img src="/Content/Images/books/img-11.jpg" alt="image description"></div>
                                </div>
                                <div class="tg-hovercontent">
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua enim adia minim veniam, quis nostrud.</p>
                                    </div>
                                    <strong class="tg-bookpage">Book Pages: 206</strong>
                                    <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                                    <strong class="tg-bookprice">Price: $23.18</strong>
                                    <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                                </div>
                            </figure>
                            <div class="tg-postbookcontent">
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Slow And Steady Wins The Race</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Drusilla Glandon</a></span>
                                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                                    <i class="fa fa-shopping-basket"></i>
                                    <em>Add To Basket</em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Picked By Author End
    *************************************-->
</main>