@{
    ViewBag.Title = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <!--************************************
            Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/Images/parallax/bgparallax-07.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>News &amp; Articles</h1>
                        <ol class="tg-breadcrumb">
                            <li><a href="javascript:void(0);">home</a></li>
                            <li class="tg-active">News</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Banner End
    *************************************-->
    <!--************************************
                    Main Start
     *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        @*************************************
        News Grid Start
        **************************************@
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div id="tg-twocolumns" class="tg-twocolumns">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                            <div id="tg-content" class="tg-content">
                                <div class="tg-newsgrid">
                                    <div class="tg-sectionhead">
                                        <h2><span>Latest News &amp; Articles</span>What's Hot in The News</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-01.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-02.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-03.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-04.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-05.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-06.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-07.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-08.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-09.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-10.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-11.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-12.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-13.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-14.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                            <article class="tg-post">
                                                <figure><a href="javascript:void(0);"><img src="/Content/images/blog/img-15.jpg" alt="image description"></a></figure>
                                                <div class="tg-postcontent">
                                                    <ul class="tg-bookscategories">
                                                        <li><a href="javascript:void(0);">Adventure</a></li>
                                                        <li><a href="javascript:void(0);">Fun</a></li>
                                                    </ul>
                                                    <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                                    <div class="tg-posttitle">
                                                        <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                    </div>
                                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    <ul class="tg-postmetadata">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i><i>21,415 Comments</i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-eye"></i><i>24,565 Views</i></a></li>
                                                    </ul>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                            <aside id="tg-sidebar" class="tg-sidebar">
                                <div class="tg-widget tg-widgetsearch">
                                    <form class="tg-formtheme tg-formsearch">
                                        <div class="form-group">
                                            <button type="submit"><i class="icon-magnifier"></i></button>
                                            <input type="search" name="search" class="form-group" placeholder="Search Here">
                                        </div>
                                    </form>
                                </div>
                                @Html.Action("AllCategory", "Product")
                                <div class="tg-widget tg-widgettrending">
                                    <div class="tg-widgettitle">
                                        <h3>Trending Posts</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul>
                                            <li>
                                                <article class="tg-post">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/products/img-04.jpg" alt="image description"></a></figure>
                                                    <div class="tg-postcontent">
                                                        <div class="tg-posttitle">
                                                            <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                        </div>
                                                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    </div>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="tg-post">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/products/img-05.jpg" alt="image description"></a></figure>
                                                    <div class="tg-postcontent">
                                                        <div class="tg-posttitle">
                                                            <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                        </div>
                                                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    </div>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="tg-post">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/products/img-06.jpg" alt="image description"></a></figure>
                                                    <div class="tg-postcontent">
                                                        <div class="tg-posttitle">
                                                            <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                        </div>
                                                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    </div>
                                                </article>
                                            </li>
                                            <li>
                                                <article class="tg-post">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/products/img-07.jpg" alt="image description"></a></figure>
                                                    <div class="tg-postcontent">
                                                        <div class="tg-posttitle">
                                                            <h3><a href="javascript:void(0);">Where The Wild Things Are</a></h3>
                                                        </div>
                                                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Kathrine Culbertson</a></span>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tg-widget tg-widgetinstagram">
                                    <div class="tg-widgettitle">
                                        <h3>Instagram</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-01.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-02.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-03.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-04.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-05.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-06.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-07.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-08.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/Content/images/instagram/img-09.jpg" alt="image description">
                                                    <figcaption><a href="javascript:void(0);"><i class="icon-heart"></i><em>50,134</em></a></figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tg-widget tg-widgetblogers">
                                    <div class="tg-widgettitle">
                                        <h3>Top Bloogers</h3>
                                    </div>
                                    <div class="tg-widgetcontent">
                                        <ul>
                                            <li>
                                                <div class="tg-author">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/author/imag-03.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authorcontent">
                                                        <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                        <span>21,658 Published Books</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tg-author">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/author/imag-03.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authorcontent">
                                                        <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                        <span>21,658 Published Books</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tg-author">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/author/imag-03.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authorcontent">
                                                        <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                        <span>21,658 Published Books</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tg-author">
                                                    <figure><a href="javascript:void(0);"><img src="/Content/images/author/imag-03.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authorcontent">
                                                        <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                                                        <span>21,658 Published Books</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*************************************
        News Grid End
        **************************************@
    </main>
    <!--************************************
            Main End
    *************************************-->
