
@{
    ViewBag.Title = "SubmitOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>
<a href="@Url.Action("ClearCart", "ShoppingCart")" style="text-align: center; padding: 20px"><h4>TRỞ VỀ TRANG CHỦ</h4></a>
