@model IEnumerable<BookLibrary.Models.Category>


<div class="tg-widget tg-catagories">
    <div class="tg-widgettitle">
        <h3>Thể loại</h3>
    </div>
    <div class="tg-widgetcontent">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action(@item.Tag, "Product")"><span>@item.Name</span><em>none</em></a></li>
            }
            <li><a href="javascript:void(0);"><span>Xem Thêm</span></a></li>
        </ul>
    </div>
</div>

