@model IEnumerable<BookLibrary.Models.Category>


<div class="tg-widget tg-catagories">
    <div class="tg-widgettitle">
        <h3>Category</h3>
    </div>
    <div class="tg-widgetcontent">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("ListProductFromCategory","Product",new {id = item.id})">
                        <span>@item.Name</span>
                       
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

