@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link href="~/Content/Css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <label>Username or Email:</label><br>
            @Html.TextBox("Username_or_Email")<br />
            <label>Password:</label><br>
            @Html.Password("Password")<br>
            <button type="submit" class="">Login</button>
        }
    </div>
</body>
</html>