
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>About Us</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="tg-aboutusshortcode">
                            <div class="tg-sectionhead">
                                <h2><span>Greetings &amp; Welcome</span>Know More About Us</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                            </div>
                            <div class="tg-btns">
                                <a class="tg-btn tg-active" href="javascript:void(0);">Our History</a>
                                <a class="tg-btn" href="javascript:void(0);">Meet Our Team</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <figure>
                            <img src="~/Content/images/placeholder.jpg" alt="image description">
                            <iframe src="https://www.youtube.com/embed/acwr_Islo9A?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            About Us End
    *************************************-->
    <!--************************************
            Call to Action Start
    *************************************-->
    <section class="tg-parallax tg-bgcalltoaction tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/images/parallax/bgparallax-06.jpg">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-calltoaction">
                            <h2>Fully Loaded Template</h2>
                            <h3>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</h3>
                            <a class="tg-btn tg-active" href="javascript:void(0);">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Call to Action End
    *************************************-->
    <!--************************************
            Success Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-successstory">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-sectionhead">
                            <h2><span>Our Pride Moments</span>Journey of Success</h2>
                        </div>
                        <div id="tg-successslider" class="tg-successslider tg-success owl-carousel">
                            <div class="item">
                                <figure>
                                    <img src="~/Content/images/img-01.jpg" alt="image description">
                                </figure>
                                <div class="tg-successcontent">
                                    <div class="tg-sectionhead">
                                        <h2><span>June 27, 2017</span>First Step Toward Success</h2>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="~/Content/images/img-01.jpg" alt="image description">
                                </figure>
                                <div class="tg-successcontent">
                                    <div class="tg-sectionhead">
                                        <h2><span>June 27, 2017</span>First Step Toward Success</h2>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <figure>
                                    <img src="~/Content/images/img-01.jpg" alt="image description">
                                </figure>
                                <div class="tg-successcontent">
                                    <div class="tg-sectionhead">
                                        <h2><span>June 27, 2017</span>First Step Toward Success</h2>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Success End
    *************************************-->
    <!--************************************
            Testimonials Start
    *************************************-->
    <section class="tg-parallax tg-bgtestimonials tg-haslayout" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/images/parallax/bgparallax-05.jpg">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-push-2">
                        <div id="tg-testimonialsslider" class="tg-testimonialsslider tg-testimonials owl-carousel">
                            <div class="item tg-testimonial">
                                <figure><img src="~/Content/images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="~/Content/images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                            <div class="item tg-testimonial">
                                <figure><img src="~/Content/images/author/imag-02.jpg" alt="image description"></figure>
                                <blockquote><q>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore tolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamcoiars nisi ut aliquip commodo.</q></blockquote>
                                <div class="tg-testimonialauthor">
                                    <h3>Holli Fenstermacher</h3>
                                    <span>Manager  CIFP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Testimonials End
    *************************************-->
    <!--************************************
            Authors Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead">
                        <h2><span>Team Behind Book Library</span>Meet Our Professionals</h2>
                    </div>
                </div>
                <div id="tg-teamsslider" class="tg-authors tg-authorsslider tg-teamsmember owl-carousel">
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-01.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Jude Morphew</a></h2>
                            <span>Online Retail Manager</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-02.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Book Burger</a></h2>
                            <span>Bookstore Director</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-03.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Book Ship &amp; Co.</a></h2>
                            <span>Business Operations</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-04.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Enoch Gallion</a></h2>
                            <span>Assistant Director</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-05.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Book House</a></h2>
                            <span>Business Operations</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item tg-author tg-member">
                        <figure><a href="javascript:void(0);"><img src="~/Content/images/team/img-04.jpg" alt="image description"></a></figure>
                        <div class="tg-authorcontent">
                            <h2><a href="javascript:void(0);">Linnie Klimek</a></h2>
                            <span>Assistant Director</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Authors End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
