* {
    padding: 0;
    margin: 0;
}

.bg-image {
    background: rgba(0, 0, 0, 0.2) url('../Images/login-register-bg/reading-book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(119, 136, 153, 0.6);
    padding: 100px;
}

label {
    font-family: 'FontAwesome';
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: white;
}

input[type=text], input[type=password]{
    display: inline-block;
    border: none;
    text-align: left;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    padding: 10px 10px 10px 0;
    width: 350px;
    margin: 6px 0 12px;
    background: transparent;
    color: white;
    outline: none;
}

input[type=text], input[type=password]:focus {
    background: none;
    border: none;
    color: white;
}

button {
    background: transparent;
    color: white;
    font-family: 'FontAwesome';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 30px 0 auto;
    padding: 10px 30px;
    border: 2px solid white;
}

button:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
}