
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Log in And Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Css/LoginAndRegister.css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="title-text">
            <div class="title login">Đăng Nhập</div>
            <div class="title signup">Đăng Ký</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Đăng Nhập</label>
                <label for="signup" class="slide signup">Đăng Ký</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="#" class="login">
                    <div class="field">
                        <input type="text" placeholder="Email" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Mật Khẩu" required>
                    </div>
                    <div class="pass-link">
                        <a href="#">Quên Mật Khẩu?</a>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Đăng Nhập">
                    </div>
                    <div class="signup-link">
                        Chưa Có Tài Khoản? <a href=""> Đăng Ký Ngay</a>
                    </div>
                </form>
                <form action="#" class="signup">
                    <div class="field">
                        <input type="text" placeholder="Nhập Email" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Nhập Mật Khẩu" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Nhập Lại Mật Khẩu" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value=" Đăng Ký">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/js/LoginAndRegister.js"></script>
</body>
</html>